{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Add Track Form</h6>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p}}
                    {% comment %} <div class="mb-3">
                        <label for="track_Name" class="form-label">Track Name</label>
                        <input type="text" class="form-control" name = "name" required />
                    </div> {% endcomment %}
                    <button type="submit" class="btn btn-primary">Add Track</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
