{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary text-center rounded p-4">
            {% if messages %}
                <div class="alert alert-success">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">All instructor</h6>
                <a class="btn btn-sm btn-primary" href="{% url 'track:insert'%}">Add Track</a>
            </div>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-white">
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for track in all_tracks %}
                        <tr>
                            <td>{{ track.id }}</td>
                            <td>{{ track.name }}</td>
                            <td>
                                <a class="btn btn-sm btn-primary" href="{% url 'track:update' track.id %}">Update</a>
                                <a class="btn btn-sm btn-primary" href="{% url 'track:delete' track.id %}">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock body %}
